[submodule "buildroot"]
	path = buildroot
	url = git@github.com:kernelkit/buildroot.git
[submodule "9pm"]
	path = test/9pm
	url = git@github.com:kernelkit/9pm.git
[submodule "qeneth"]
	path = test/qeneth
	url = git@github.com:kernelkit/qeneth.git
